<h3>Welcome to my site about users, many users awesome</h3>

<ul>
    <li>{{link-to 'Home' 'index'}}</li>
    <li>{{link-to 'Users' 'user'}}</li>
</ul>

<div class="container">
    {{ outlet }}
</div>
